<%- include("partials/header"); -%>
<body>
<form class="" action="/DeleteMedia" method="post">
  <% items.forEach(function(item) {%>
      <img src='data:<%= item.contentType %>;base64,<%= item.imageBase64 %>' height="300" width="400">
      <button class="btn btn-primary" type="submit" name="delete" value="<%=item._id%>">Delete</button>
  <%})%>
  </form>

<%- include("partials/footer"); -%>
